{% extends 'layouts/base.html.twig' %}

{% block title %}Club Omnisport - {{equipe.nom}}
{% endblock %}

{% block pageId %}equipes-show{% endblock %}

{% block body %}
	<section id="hero" class="isolate bg-white relative -z-10">
		<div class="transform-gpu overflow-hidden hero-container max-h-[32rem]">
			<img class="hero-img" src="{{ asset('uploads/images/sports/' ~ equipe.getSport.imageUrl ) }}">
		</div>
	</section>

	<section class="w-full">
		<div class="page-container sm:w-4/5 mx-auto px-6 pb-6 -mt-20">
			<div class="overflow-hidden shadow sm:rounded-md">
				<div class="bg-white p-16">
					<div class="flex gap-16 max-w-2xl mx-auto items-center">
                        {% if equipe.imageUrl %}
							<img class="w-44 h-44 mb-3 rounded-full shadow-lg" src="{{ asset('uploads/images/equipes/' ~ equipe.imageUrl) }}" alt="image de l'équipe {{ equipe.nom}}"/>
						{% endif %}
                        <div>
                            <h1 class="text-3xl font-bold uppercase">{{equipe.nom}}</h1>
                            <span class="font-light text-rose-400">Activités : {{equipe.getSport.nom}}</span>
                        </div>
                    </div>

                    <h2 class="text-xl mt-8 mb-4 uppercase font-bold title">Liste des licences de l'équipe</h2>
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Nom
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Date d'entrée
                                </th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for licencie in equipe.getLicencies %}
                                <tr class="bg-white border-b hover:bg-gray-50">
                                    <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                                        {% if licencie.imageUrl %}
                                            <img class="w-10 h-10 object-cover rounded-full " src="{{ asset('uploads/images/licencies/' ~ licencie.imageUrl) }}" alt="Image représentant le licencié {{ licencie.prenom }} {{ licencie.nom }}">
                                        {% endif %}
                                        <div class="pl-3">
                                            <div class="text-base font-semibold">{{ licencie.prenom }} <span class="uppercase">{{ licencie.nom }}</span></div>
                                        </div>  
                                    </th>
                                    <td scope="col" class="px-6 py-3">
                                        {{ licencie.dateEntree|date('j F Y', "Europe/Paris") }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="bg-white border-b hover:bg-gray-50">
                                    <td colspan="6" class="text-center py-4">Aucun licencié</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
